<h1>mat-form-filed.floatLabel</h1>
<h2>auto (預設)</h2>
<mat-form-field floatLabel="auto" >
    <mat-label>這是 label </mat-label>
    <input matInput placeholder="placeholder">
</mat-form-field>
<h2>always </h2>
<mat-form-field floatLabel="always" >
    <mat-label>這是 label </mat-label>
    <input matInput placeholder="placeholder">
</mat-form-field>
<h2>never</h2>
<mat-form-field floatLabel="never" >
    <mat-label>這是 label </mat-label>
    <input matInput placeholder="placeholder">
</mat-form-field>