
<mat-form-field floatLabel="always" >
    <mat-label>選擇日期</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker">        
    </mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
</mat-form-field>
<br />
startAt、startView: <br />
<mat-form-field floatLabel="always" >
    <mat-label>選擇日期</mat-label>
    <input matInput [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1">        
    </mat-datepicker-toggle>
    <mat-datepicker #picker1 startView="year" [startAt]="startAt" >        
    </mat-datepicker>
</mat-form-field>

<!-- startView="year" [startAt]="startAt" -->
<br />
<mat-form-field appearance="fill">
    <mat-label>輸入日期範圍</mat-label>
    <mat-date-range-input [rangePicker]="rpicker">
        <input matStartDate placeholder="Start Date">
        <input matEndDate placeholder="End Date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="rpicker">
    </mat-datepicker-toggle>
    <mat-date-range-picker #rpicker></mat-date-range-picker>
</mat-form-field>