<form [formGroup]="group">
    Name: <input type="text" formControlName="name">
    <ol formArrayName="list">
        <!-- <li *ngFor="let item of list?.controls; let i=index">
            <input type="text" [formControlName]="i">               <button (click)="removeItem(i)"> X </button> 
        </li> -->
        <li *ngFor="let item of list?.controls; let i=index">
            <div [formGroupName]="i">
                <input type="text" formControlName="book">:
                <input type="text" formControlName="qty"> 
                <button (click)="removeItem(i)"> X </button>
            </div>
        </li>
    </ol>
    <button (click)="addItem()">Add Item</button>
</form>


{{ group.value | json}}