<mat-tab-group >
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>check_box</mat-icon>
            U2347
        </ng-template>
        <div>
            <div>
                <h1>
                    新世代Web前端Angular開發實戰Part 1</h1>
                <h4>
                    <span style="color: #9c683b">Microsoft</span> - U2347
                </h4>
                <h5>
                    The new generation of Web front-end Angular development combat Part 1</h5>
                <ul>
                    <li>時數：28小時</li>
                    <li>費用：NT$ 22,000</li>
                    <li>點數：5.5</li>
                </ul>
                <div id="CourseDocument">
    
    
                    <div class="DocumentBOX Material">
                        <h3 class="Topic">教材</h3>
                        <div class="Content">恆逸專用教材</div>
                    </div>
    
    
                    <div class="DocumentBOX Objective">
                        <h3 class="Topic">課程目標</h3>
                        <div class="Content">
                            <p>Angular是由Google推出的開放源碼的前端網頁框架(Framework)，前端技術牽涉到JavaScript、HTML、CSS，JavaScript動輒千百行的程式難以維護與偵錯，Angular是以JavaScript為基底(2.0版後採用Microsoft的TypeScript)的框架，能夠寫出好維護、易偵錯、可擴充、跨平台的應用程式。
                            </p>
    
                            <p>Angular可以完成絕大多數的使用者介面及前端的需要，但是資料仍要靠後端的供應，在課程中我們會以Angular 13.x以上的版本教學，並且介紹如何使用Angular存取Web
                                API遠端資料(本課程Web API使用Microsoft ASP.NET Core Web API為伺服器端的範例)，實作一個完整的網頁應用程式。</p>
                        </div>
                    </div>
    
    
                    <div class="DocumentBOX Target">
                        <h3 class="Topic">適合對象</h3>
                        <div class="Content">
                            <p>網頁開發人員</p>
                        </div>
                    </div>
    
    
                    <div class="DocumentBOX Prerequisites">
                        <h3 class="Topic">預備知識</h3>
                        <div class="Content">
                            <p>需熟悉JavaScript、HTML、CSS及C#、ASP.NET Core </p>
    
                            <p>已完成以下課程所具備技術能力</p>
    
                            <p>U2754：TypeScript程式語言</p>
                        </div>
                    </div>
    
    
                    <div class="DocumentBOX Outline">
                        <h3 class="Topic">課程內容</h3>
                        <div class="Content">
                            <ol>
                                <li>
                                    <p>前端網頁應用的利器Angular</p>
    
                                    <p>● 套件安裝、工具</p>
    
                                    <p>● 認識專案結構</p>
    
                                    <p>● 認識SPA與Angular開發架構</p>
                                </li>
                                <li>
                                    <p>使用Angular實作前端MVC的設計模型</p>
    
                                    <p>● 插入指示詞</p>
    
                                    <p>● View與Controller</p>
    
                                    <p>● Model </p>
                                </li>
                                <li>
                                    <p>Angular基礎</p>
    
                                    <p>● 了解Angular元件生命週期</p>
    
                                    <p>● 元件之間資料共享(@Input &amp; @Output)</p>
    
                                    <p>● HTML與Angular指示詞(Directive)的搭配</p>
    
                                    <p>● <em>ngFor、 *ngIf、</em>ngSwitch …等結構性語法的使用</p>
                                </li>
                                <li>
                                    <p>Angular Route淺談</p>
    
                                    <p>● 路由的運作原理</p>
    
                                    <p>● RouteLink、Router-Outlet</p>
    
                                    <p>● 使用程式指向路由(navigate)</p>
    
                                    <p>● 預設首頁的設置</p>
    
                                    <p>● NotFound的處理</p>
                                </li>
                                <li>
                                    <p>Angular深入設計</p>
    
                                    <p>● 自訂Directive</p>
    
                                    <p>● 使用Pipes轉換資料 </p>
    
                                    <p>● 自訂Pipe轉換功能</p>
                                </li>
                                <li>
                                    <p>屬性綁定、事件綁定的處理</p>
    
                                    <p>● ngModel與資料的綁定</p>
    
                                    <p>● 自訂元件的屬性、事件綁定的設計</p>
                                </li>
                                <li>
                                    <p>表單、驗證、資料繫結</p>
    
                                    <p>● Reactive Form、Template-Driven Form的開發模型</p>
    
                                    <p>● 兩者的特性與選擇</p>
    
                                    <p>● ngModel的驗證能力</p>
    
                                    <p>● 自訂錯誤驗證</p>
                                </li>
                                <li>
                                    <p>Service與DI依存注入</p>
    
                                    <p>● 依存注入的運作原理</p>
    
                                    <p>● Service的實作與使用</p>
    
                                    <p>● 使用HTTPClient存取網路資源</p>
                                </li>
                                <li>
                                    <p>設計ASP.NET Core Web API</p>
                                </li>
                                <li>
                                    <p>使用Angular連結ASP.NET Core Web API</p>
    
                                    <p>● 跨網域(CORS)的問題解決</p>
    
                                    <p>● Angular資料存取WebAPI的查詢、新增、刪減、修改</p>
                                </li>
                                <li>
                                    <p>部署Angular應用程式</p>
    
                                    <p>● 使用IIS為目標伺服器</p>
    
                                    <p>● ASP.NET Core Web API的部署</p>
    
                                    <p>● Angular的部署</p>
                                </li>
                            </ol>
                        </div>
                    </div>
    
    
                    <div class="DocumentBOX TowardCertOrExam">
                        <h3 class="Topic">學會技能</h3>
                        <div class="Content">
                            <ol>
                                <li>了解如何選取前端開發框架(Framework)，如React、Angular、Vue.js</li>
                                <li>使用Angular為您的公司建立內部、外部網站</li>
                                <li>能夠透過網頁收集使用者資料，並儲存至資料庫(藉由ASP.NET Core Web API)</li>
                                <li>能夠區別何謂前端開發與後端開發</li>
                                <li>能夠熟悉開發工具的操作，並善用工具功能加速網站設計</li>
                                <li>如何安裝與設定Angular套件，並設定工作環境</li>
                                <li>能夠利用瀏覽器進行網頁程式除錯，提升網站錯誤診斷與偵錯的技能</li>
                            </ol>
                        </div>
                    </div>
    
    
                </div>
    
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>check_box_outline_blank</mat-icon>
            U2348
        </ng-template>
        <div> 
            <h4>
                <span style="color: #9c683b">Microsoft</span> -  U2348
            </h4>
            <h1>
                新世代Web前端Angular開發實戰Part 2</h1>
            <h5>
                The new generation of Web front-end Angular development combat Part 2</h5>
            <ul>
                <li>時數：21小時</li>
                <li>費用：NT$ 20,000</li>
                <li>點數：5.0</li>
            </ul>
        <div id="CourseDocument">
        
            
            <div class="DocumentBOX Material">
                <h3 class="Topic">教材</h3>
                <div class="Content">恆逸專用教材</div>
            </div>
        
            
            <div class="DocumentBOX Objective">
                <h3 class="Topic">課程目標</h3>
                <div class="Content"><p>Angular是諸多企業使用的前端開發技術，在人力銀行更是搶手的技能項目。本課程是「U2347：新世代Web前端Angular開發實戰Part 1」的進階課程，將進一步談到非同步運算、程式優化、使用Angular Material、如何無痛升級行動App、驗證/授權以及社群的驗證，以及國際化語言...等進階運用都涵蓋在這門課程中。</p>
        </div>
            </div>
        
            
            <div class="DocumentBOX Target">
                <h3 class="Topic">適合對象</h3>
                <div class="Content"><p>網頁開發人員</p>
        </div>
            </div>
        
            
            <div class="DocumentBOX Prerequisites">
                <h3 class="Topic">預備知識</h3>
                <div class="Content"><p>需熟悉JavaScript、HTML、CSS及C#、ASP.NET Core </p>
        
        <p>已完成以下課程所具備技術能力</p>
        
        <p>U2754：TypeScript程式語言</p>
        
        <p>U2347：新世代Web前端Angular開發實戰Part 1</p>
        </div>
            </div>
        
            
            <div class="DocumentBOX Outline">
                <h3 class="Topic">課程內容</h3>
                <div class="Content"><ol>
        <li><p>認識Angular的非同步機制</p></li>
        <li><p>Angular程式優化–使用的模組與函式庫</p>
        
        <p>●  延遲載入模組</p>
        
        <p>●  特性模組、共享模組 </p>
        
        <p>●  建立與使用模組</p>
        
        <p>●  建立與使用函式庫</p></li>
        <li><p>再探Angular Route </p>
        
        <p>●  根路由/子路由</p>
        
        <p>●  頁面間參數的傳遞與resolve</p>
        
        <p>●  選單的設置</p></li>
        <li><p>Angular UI的優化使用Material</p></li>
        <li><p>Reactive-Form的再進化</p></li>
        <li><p>存取Open Data與資料處理</p>
        
        <p>●  存取Open Data</p>
        
        <p>●  Data Page分頁</p>
        
        <p>●  匯出Excel </p></li>
        <li><p>Angular Web App變成行動版App</p></li>
        <li><p>驗證與授權</p>
        
        <p>●  路由守門員</p>
        
        <p>●  Login/Logout</p>
        
        <p>●  Auth 2.0使用社群帳號登入–以Google為例</p></li>
        <li><p>國際化語系</p>
        
        <p>●  使用Pipe顯示當地文化格式</p>
        
        <p>●  Angular的國際化套件</p>
        
        <p>●  國際化版本的部署</p></li>
        </ol>
        </div>
            </div>
        
            
            <div class="DocumentBOX TowardCertOrExam">
                <h3 class="Topic">學會技能</h3>
                <div class="Content"><ol>
        <li>了解如何選取前端開發框架(Framework)，如React、Angular、Vue.js</li>
        <li>使用Angular為您的公司建立內部、外部網站</li>
        <li>能夠透過網頁收集使用者資料，並儲存至資料庫(藉由ASP.NET Core Web API)</li>
        <li>能夠區別何謂前端開發與後端開發</li>
        <li>能夠熟悉開發工具的操作，並善用工具功能加速網站設計</li>
        <li>如何安裝與設定Angular套件，並設定工作環境</li>
        <li>能夠利用瀏覽器進行網頁程式除錯，提升網站錯誤診斷與偵錯的技能</li>
        </ol>
        </div>
            </div>
        
            
        </div> </div>
   </mat-tab>
</mat-tab-group>
