<h1>mat-form-filed.appearance</h1>
<h2>legacy (預設)</h2>
<mat-form-field >
    <input matInput placeholder="代替標籤的功能">
</mat-form-field>
<h2>standard</h2>
<div>
    <mat-form-field appearance="standard">        
        <input matInput placeholder="placeholder">
    </mat-form-field>
</div>
<h2>fill</h2>
<div>
    <mat-form-field appearance="fill">        
        <input matInput placeholder="placeholder ">      
    </mat-form-field>
</div>
<h2>outline</h2>
<div>
    <mat-form-field appearance="outline">        
        <input matInput placeholder="placeholder ">
    </mat-form-field>
</div>
